// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Custom CSS
.margin-bottom {
    margin-bottom: 20px !important;
}

.align-middle-custom {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pointer {
    cursor: pointer;
}
